<div class="home relative min-h-screen w-full flex flex-col items-center justify-center bg-gradient-to-br from-[#A0E8AF] to-[#0D5D56] overflow-hidden p-6">
    <!-- Background Circles -->
    <div class="absolute w-[600px] h-[600px] bg-[#226B6D] opacity-14 rounded-full -top-32 -left-20 blur-3xl animate-pulse"></div>
    <div class="absolute w-[500px] h-[500px] bg-[#6BC79B] opacity-17 rounded-full bottom-20 right-16 blur-2xl animate-pulse"></div>
  
    <!-- Register Form -->
    <div class="h-screen w-full flex justify-center items-center">
      <div class="w-full sm:max-w-md bg-[#127D74] bg-opacity-20 py-8 px-4 shadow-lg sm:rounded-lg sm:px-10 backdrop-blur-lg">
        <form class="space-y-6" action="#" method="POST">
          <div>
            <label for="email" class="block text-sm font-medium text-[#F3F9D2]">Email address</label>
            <div class="mt-1">
              <input name="email" type="email" [(ngModel)]="registerObj.email" placeholder="email" required
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm bg-transparent text-white">
            </div>
          </div>
          <div>
            <label for="username" class="block text-sm font-medium text-[#F3F9D2]">Username</label>
            <div class="mt-1">
              <input name="username" type="username" [(ngModel)]="registerObj.username" placeholder="username" required
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm bg-transparent text-white">
            </div>
          </div>
  
          <div>
            <label for="password" class="block text-sm font-medium text-[#F3F9D2]">Password</label>
            <div class="mt-1">
              <input name="password" type="password" [(ngModel)]="registerObj.password" placeholder="password" required
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm bg-transparent text-white">
            </div>
          </div>
  
          <div>
            <button 
              type="button" 
              (click)="onRegister()"
              [disabled]="!registerObj.email || !registerObj.password"
              class="flex w-full justify-center rounded-md py-2 px-4 text-sm font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2
                bg-[#F3F9D2] text-[#774C60] hover:bg-[#774C60] hover:text-[#F3F9D2] 
                disabled:bg-gray-400 disabled:text-gray-700 disabled:cursor-not-allowed"
            >
              Create Account
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  