<div
  class="relative min-h-screen flex flex-col items-center bg-gradient-to-br from-[#A0E8AF] to-[#0D5D56] overflow-hidden p-6"
>
  <!-- Animated Background Gradient Circles -->
  <div
    class="absolute w-[600px] h-[600px] bg-[#226B6D] opacity-14 rounded-full -top-32 -left-20 blur-3xl animate-pulse"
  ></div>
  <div
    class="absolute w-[500px] h-[500px] bg-[#6BC79B] opacity-17 rounded-full bottom-20 right-16 blur-2xl animate-pulse"
  ></div>

  <!-- Shop Container -->
  <div
    *ngIf="user() as userData"
    class="relative z-10 p-6 w-full max-w-5xl flex flex-col items-center flex-grow text-white"
  >
    <div
      class="text-center bg-gradient-to-br from-[#127D74] to-[#17A195] rounded-xl shadow-lg p-10 backdrop-blur-lg max-w-3xl w-full"
    >
      <h2 class="text-4xl font-bold mb-6">🛍️ Shop</h2>
      <p class="text-lg mb-6">
        Welcome to the shop! Here you can purchase skins for the back of your
        cards
      </p>
      <p class="text-lg mb-6">You currently have {{ userData.gold }} Gold</p>

      <!-- Available Items -->
<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
  <div
    *ngFor="let item of shopItems"
    class="flex flex-col items-center bg-[#226B6D] p-4 rounded-lg shadow-lg hover:scale-105 transition-all duration-300"
  >
    <div 
      class="relative w-32 h-52 rounded-lg overflow-hidden shadow-lg border-1  hover:shadow-2xl transition-all duration-300"
    >
      <img
        [src]="item.imageUrl"
        alt="{{ item.name }}"
        class="w-full h-full object-cover rounded-lg"
      />
      <div class="absolute top-0 left-0 w-full h-full rounded-lg border-4 border-[#212738] pointer-events-none"></div>
    </div>

    <h3 class="text-lg font-semibold text-white mt-3 mb-1">
      {{ item.name }}
    </h3>

    <p class="text-sm text-[#F3F9D2] mb-2">{{ item.description }}</p>

    <p class="text-sm text-[#F3F9D2] mb-4">
      <strong>Price:</strong> {{ item.price }} Gold
    </p>

          <!-- Purchase Button -->
          <button
            (click)="purchaseItem(item)"
            [ngClass]="{
              'bg-[#F3F9D2] text-[#774C60] hover:bg-[#ECF5B7] hover:text-[#212738] transition duration-300':
                !userData.ownedCardImages.includes(item.id),
              'bg-[#738290] text-[#212738]  ':
                userData.ownedCardImages.includes(item.id)
            }"
            class="w-full px-6 py-3 bg-[#F3F9D2] text-[#212738] rounded-lg"
            [disabled]="isItemOwned(item.id)"
          >
            {{ isItemOwned(item.id) ? "Owned" : "Purchase" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
