.grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 16px;
  
    justify-content: center;
  }
  :host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 150px);
    }
  }