.checkbox-custom:checked {
    background-color: #F3F9D2; /* Checkbox background when checked */
    border-color: #F3F9D2; /* Border color when checked */
  }

  .checkbox-custom:checked:after {
    content: "✓";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #774C60; /* Tick color */
    font-size: 0.75rem;
  }

  .checkbox-custom {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
  }

  .checkbox-custom:after {
    content: "";
    display: none;
  }

  .checkbox-custom:checked:after {
    display: block;
  }